<% if notice %>
  <div class="alert alert-info alert-dismissible fade show mt-3 mb-3" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show mt-3 mb-3" role="alert">
    <%= alert %>
  </div>
<% end %>