<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <span>Boards</span>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <th>ID</th>
            <th>Board Name</th>
            <th>Email</th>
            <th>Created At</th>
          </thead>
          <tbody>
            <%= render @boards %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex justify-content-center pt-3">
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>